.ipynb_checkpoints
*.pyc
*.swp
*.DS_Store
/.run
/werlog.js
/runs
/logs
/exports
/venv
/native_client/setup.cfg
/native_client/build
/native_client/*.egg-info
/native_client/dist
/native_client/node_modules
/native_client/python/model.py
/native_client/python/utils.py
/native_client/python/model_wrap.cpp
/native_client/python/utils_wrap.cpp
/native_client/javascript/build
/native_client/javascript/deepspeech_wrap.cxx
/tmp
*.so
/native_client/deepspeech
/native_client/generate_trie
*.tar.xz
/dist
/build
/data/media_data
/data/transcribed_data
/data/lm
telegram_credentials.json