pandas
progressbar2
python-utils
numpy
matplotlib
scipy
paramiko >= 2.1
pysftp
sox
python_speech_features
pyxdg
bs4
six
requests
certifi==2018.1.18
future==0.16.0
python-telegram-bot==10.0.1
3to2
language_check
tqdm
deepspeech
webrtcvad
#pyaudio
flask
pafy
youtube-dl
sqlalchemy
whoosh
PyStemmer